@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img src="~/images/DinoDiner-32.png"  class="center"/>

<a href="Menu">Menu</a>

<a href="Privacy">Privacy</a>

<a href="About">About</a>